.footer {
  background-color: #05203c;
  color: #eff3f8;
  height: 100px;
  width: 100%;
}

.footerContent {
  margin: 0 auto;
  padding: 2.5rem 0 1.5rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-weight: 400;
}

.copyright {
  font-size: 0.875rem;
  font-weight: 400;
}
